<!DOCTYPE html>
<html>
  <head>
    <title>MeuExame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>MeuExame.com</h1>
    <%= yield %>
  </body>
</html>
